@import "tailwindcss";


:root {
  --background: #000000;
    --foreground: #ededed;
}

@font-face {
  font-family: druk;
  src: url('/fonts/druktext/druktextwidecyr-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-sans), sans-serif;
}
